.btn {
    border-radius: 25px;
    background: blue;
    height: 13em;
    width: 30em;
    position: relative;
}

.btn-text {
    background-color: chocolate;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 0 0 25px 25px ;
}