.btn {
    border-radius: 25px;
    /* background: blue; */
    background-size: cover;
    background-position: 0;
    height: 18em;
    width: 25em;
    position: relative;
}

.btn-text {
    background-color: white;
    color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 0 0 25px 25px;
}