.card {
    width: 320px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    position: relative;
  }

.poster{
    border-radius: 15px 15px 15px 15px;
    position: absolute;
}

.textBox {
    color:white;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in-out;
    z-index: 2;
}

.textBox > .head {
    margin-top:40px;
    font-size: 30px;
    line-height: 1em;
}

.textBox > .reward {
    margin-top: -30px;
    font-size: 20px;
}

.textBox > .org {
    margin-top: -60px;
    font-size: 16px;
}

.card::before,
.card::after {
    position: absolute;
    content: "";
    width: 12%;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: #8A95A5;
    transition: all 0.3s;
    z-index:1;
}

.card::before {
    top: 0;
    right: 0;
    border-radius: 0 15px 0 100%;
}

.card::after {
    bottom: 0;
    left: 0;
    border-radius: 0 100%  0 15px;
}

.card:hover::before,
.card:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    transition: all 0.3s;
  }

.card:hover > .textBox {
    opacity: 1;
}