.top {
    display: flex;
    align-items: center;
    margin: 2em;
}

.event-title {
    margin-left: 2em;
}

.event-image {
    height: auto;
    width: 25em;
    border-radius: 20px;
    /* object-fit: contain; */
}

.event-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin-top: 50px;
}

.event-right {
    /* margin-left: 5em; */
    width: 55em;
    flex: 1;
}

h3 {
    margin: 0.3em;
}

.event-container {
    display: flex;
    flex-direction: row;
    margin: 0 10em;
    flex-wrap: wrap;
    justify-content: space-between;
}

.event-btn {
    background-color: steelblue;
    border-radius: 15px;
    width: fit-content;
    /* padding: 0; */
    margin-top: 1em;
}

.eventp {
    margin: 0;
    font-size: large;
    padding: 0.5em;
    white-space: pre-line;
}

a {
    color: white;
    text-decoration: none;
}

@media (max-width:1024px) {
    p{
        font-size: 1rem;
    }
    .event-container{
        text-align: justify;
        justify-content: center;
    }
    .event-left{
        margin-bottom: 1em;
    }
}